<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5" *ngIf="showForgotPasswordForm">
                <img src="../../../../assets/img/log.svg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5" *ngIf="!showForgotPasswordForm">
                <img src="../../../../assets/img/pin.svg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp()" *ngIf="showForgotPasswordForm">

                    <div class="d-flex flex-row align-items-center justify-content-center m-lg-3">
                        <p class="lead fw-bold mb-0 me-3">Forgot your password?</p>
                    </div>

                    <div class="divider d-flex align-items-center">
                    </div>

                    <div class="form-check-inline mt-4">
                        <label class="form-check-label" for="receiveOn">Receive OTP On :</label>
                    </div>
            
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="receiveMode" id="inlineRadio1"
                            value="emailRadio" (change)="setReceiveMode()">
                        <label class="form-check-label" for="inlineRadio1">Email</label>
                    </div>
            
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="receiveMode" id="inlineRadio2"
                            value="smsRadio" (change)="setReceiveMode()">
                        <label class="form-check-label" for="inlineRadio2">SMS</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="receiveMode" id="inlineRadio3"
                            value="callRadio" (change)="setReceiveMode()">
                        <label class="form-check-label" for="inlineRadio3">Call</label>
                    </div>

                    <div class="form-group form-outline mb-4" *ngIf="showEmail">
                        <input type="text" id="email" class="form-control" placeholder=" " formControlName="email"
                            autocomplete="off" [ngClass]="{'border-danger': (submitted && f['email'].errors)}" />
                        <label class="form-label" for="email">Email</label>
                        <i class="fas fa-envelope"></i>
                        <div *ngIf="(submitted || f['email'].touched) && f['email'].errors" class="error-message">
                            <div *ngIf="f['email'].errors && f['email'].errors['required']">
                                * Email is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4" *ngIf="showPhone">
                        <input type="text" id="phone" class="form-control" placeholder=" " formControlName="phone"
                            autocomplete="off" [ngClass]="{'border-danger': (submitted && f['phone'].errors)}" />
                        <label class="form-label" for="phone">Phone Number</label>
                        <i class="fas fa-phone"></i>
                        <div *ngIf="(submitted || f['phone'].touched) && f['phone'].errors" class="error-message">
                            <div *ngIf="f['phone'].errors && f['phone'].errors['required']">
                                * Phone number is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <div class="wrapper">
                            <div class="captcha-area">
                                <div class="captcha-img">
                                    <img src="../../../../assets/img/bg6.png" alt="Captcha Background">
                                    <span class="captcha"></span>
                                </div>
                                <button type="button" class="reload-btn" (click)="reloadCaptcha()">
                                    <i class="fa fa-sync-alt"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <input type="text" id="captchaValue" class="form-control" placeholder=" "
                            formControlName="captchaValue" autocomplete="false"
                            [ngClass]="{'border-danger': (submitted && f['captchaValue'].errors)}" />
                        <label class="form-label" for="captchaValue">Captcha</label>
                        <i class="fas fa-eye"></i>
                        <div *ngIf="(submitted || f['captchaValue'].touched) && f['captchaValue'].errors"
                            class="error-message">
                            <div *ngIf="f['captchaValue'].errors && f['captchaValue'].errors['required']">
                                * Captcha is required
                            </div>
                            <div *ngIf="f['captchaValue'].errors && (f['captchaValue'].errors['matching'])">
                                * Captcha doesn't match
                            </div>
                        </div>
                    </div> 

                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">Send OTP</button>
                    </div>

                    


                </form>

                <form novalidate [formGroup]="resetForm" (ngSubmit)="onReset()" *ngIf="!showForgotPasswordForm">

                    <div class="d-flex flex-row align-items-center justify-content-center m-lg-3">
                        <p class="lead fw-bold mb-0 me-3">Reset Password</p>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <input type="text" id="otp" class="form-control" placeholder=" " formControlName="otp"
                            autocomplete="false" [ngClass]="{'border-danger': (rfSubmitted && rf['otp'].errors)}" />
                        <label class="form-label" for="otp">OTP</label>
                        <i class="fas fa-key"></i>
                        <div *ngIf="(rfSubmitted || rf['otp'].touched) && rf['otp'].errors" class="error-message">
                            <div *ngIf="rf['otp'].errors && rf['otp'].errors['required']">
                                * OTP is required
                            </div>
                            <div *ngIf="rf['otp'].errors && (rf['otp'].errors['invalid'])">
                                * OTP accepts only digits
                            </div>
                        </div>
                    </div>

                     <div class="form-group form-outline mb-4">
                        <input type="password" id="newPassword" class="form-control" placeholder=" "
                            formControlName="newPassword" autocomplete="off"
                            [ngClass]="{'border-danger': (rfSubmitted && rf['newPassword'].errors)}" />
                        <label class="form-label" for="newPassword">New Password</label>
                        <i class="fas fa-lock"></i>
                        <div *ngIf="(rfSubmitted || rf['newPassword'].touched) && rf['newPassword'].errors"
                            class="error-message">
                            <div *ngIf="rf['newPassword'].errors && rf['newPassword'].errors['required']">
                                * New password is required</div>
                            <div *ngIf="rf['newPassword'].errors && (rf['newPassword'].errors['minlength'])">
                                * New Password should be of minimum 6 characters
                            </div>
                            <div *ngIf="rf['newPassword'].errors && (rf['newPassword'].errors['maxlength'])">
                                * New Password should be of maximum 10 characters
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <input type="password" id="confirmPassword" class="form-control" placeholder=" "
                            formControlName="confirmPassword" autocomplete="off"
                            [ngClass]="{'border-danger': (rfSubmitted && rf['confirmPassword'].errors)}" />
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <i class="fas fa-lock"></i>
                        <div *ngIf="(rfSubmitted || rf['confirmPassword'].touched) && rf['confirmPassword'].errors"
                            class="error-message">
                            <div *ngIf="rf['confirmPassword'].errors && rf['confirmPassword'].errors['required']">
                                * Confirm password is required
                            </div>
                            <div *ngIf="rf['confirmPassword'].errors && (rf['confirmPassword'].errors['matching'])">
                                * Passwords don't match
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">Reset</button>
                    </div>


                </form>

                <div class="text-center text-lg-center mt-2 pt-2">
                    <span [ngClass]="{ 'is-invalid': rfSubmitted && isError }"></span>
                    <div *ngIf="rfSubmitted && isError" class="invalid-feedback">
                        <i class="fa fa-exclamation-triangle"></i>
                        {{errorMessage}}
                    </div>
                </div>

                <div class="d-grid">
                    <button [routerLink]="['/login']" class="btn btn-light" type="reset">Back to Login</button>
                </div>

                <!-- <div class="d-flex justify-content-center align-items-center my-0 pt-2">
                    <a [routerLink]="['/login']" class="link-secondary">&lt;&lt; Back to login</a>
                </div> -->



            </div>
        </div>
    </div>
</section>