<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../../../../assets/img/log.svg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="onReset()">

                    <div class="d-flex flex-row align-items-center justify-content-center m-lg-3">
                        <p class="lead fw-bold mb-0 me-3">Forgot your password?</p>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <input type="text" id="username" class="form-control" placeholder=" " formControlName="username"
                            autocomplete="off" [ngClass]="{'border-danger': (submitted && f['username'].errors)}" />
                        <label class="form-label" for="username">Username</label>
                        <i class="fas fa-user"></i>
                        <div *ngIf="(submitted || f['username'].touched) && f['username'].errors" class="error-message">
                            <div *ngIf="f['username'].errors && f['username'].errors['required']">
                                * Username is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <input type="password" id="newPassword" class="form-control" placeholder=" "
                            formControlName="newPassword" autocomplete="off"
                            [ngClass]="{'border-danger': (submitted && f['newPassword'].errors)}" />
                        <label class="form-label" for="newPassword">New Password</label>
                        <i class="fas fa-lock"></i>
                        <div *ngIf="(submitted || f['newPassword'].touched) && f['newPassword'].errors"
                            class="error-message">
                            <div *ngIf="f['newPassword'].errors && f['newPassword'].errors['required']">
                                * New password is required</div>
                            <div *ngIf="f['newPassword'].errors && (f['newPassword'].errors['minlength'])">
                                * New Password should be of minimum 6 characters
                            </div>
                            <div *ngIf="f['newPassword'].errors && (f['newPassword'].errors['maxlength'])">
                                * New Password should be of maximum 10 characters
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <input type="password" id="confirmPassword" class="form-control" placeholder=" "
                            formControlName="confirmPassword" autocomplete="off"
                            [ngClass]="{'border-danger': (submitted && f['confirmPassword'].errors)}" />
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <i class="fas fa-lock"></i>
                        <div *ngIf="(submitted || f['confirmPassword'].touched) && f['confirmPassword'].errors"
                            class="error-message">
                            <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">
                                * Confirm password is required
                            </div>
                            <div *ngIf="f['confirmPassword'].errors && (f['confirmPassword'].errors['matching'])">
                                * Passwords don't match
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <div class="wrapper">
                            <div class="captcha-area">
                                <div class="captcha-img">
                                    <img src="../../../../assets/img/bg6.png" alt="Captcha Background">
                                    <span class="captcha"></span>
                                </div>
                                <button class="reload-btn" (click)="reloadCaptcha()">
                                    <i class="fa fa-sync-alt"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-outline mb-4">
                        <input type="text" id="captchaValue" class="form-control" placeholder=" "
                            formControlName="captchaValue" autocomplete="false"
                            [ngClass]="{'border-danger': (submitted && f['captchaValue'].errors)}" />
                        <label class="form-label" for="captchaValue">Captcha</label>
                        <i class="fas fa-eye"></i>
                        <div *ngIf="(submitted || f['captchaValue'].touched) && f['captchaValue'].errors"
                            class="error-message">
                            <div *ngIf="f['captchaValue'].errors && f['captchaValue'].errors['required']">
                                * Captcha is required
                            </div>
                            <div *ngIf="f['captchaValue'].errors && (f['captchaValue'].errors['matching'])">
                                * Captcha doesn't match
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">Reset</button>
                    </div>

                    <div class="text-center text-lg-center mt-2 pt-2">
                        <span [ngClass]="{ 'is-invalid': submitted && isError }"></span>
                        <div *ngIf="submitted && isError" class="invalid-feedback">
                            <i class="fa fa-exclamation-triangle"></i>
                            {{errorMessage}}
                        </div>
                    </div>

                    <div class="d-flex justify-content-center align-items-center my-0 pt-2">
                        <a [routerLink]="['/login']" class="link-secondary">&lt;&lt; Back to login</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>