.col-right-width {
    width: 25px;
}

.mp-0 {
    margin: 0px;
    padding: 0px;
}

.mp-0.col-1.sadow-box.small {
    width: 58px;
    white-space: nowrap;
    overflow: hidden;
}

.mp-0.col-1.sadow-box.small span {
    font-size: 9px !important;
}

.mp-0.col-1.sadow-box.small[_ngcontent-onl-c52] ul[_ngcontent-onl-c52] li[_ngcontent-onl-c52] a[_ngcontent-onl-c52] span {
    font-size: 9px;
}

.contant-bar {
    height: 84vh;
    overflow: auto;
}

.transition {
    transition: 0.3s ease;
}

.min-w-160 {
    min-width: 160px;
}

.col.contant-bar.mr-2 {
    box-shadow: 5px 3px 7px #ccc;
    transition: all 0.3s;
}