<div class="card-body">
    <h5 class="card-title">Tenant Details <button type="button" class="btn btn-primary ml-25 float-right">Add
            Tenant</button><span class="float-right mt-2 mr-3"><a href="#" class="export" id="exlExport"><i
                    class="far fa-file-excel green-text font-16"></i></a></span><span
            class="float-right white-text">|</span> <span class="float-right mt-2"><a href="#" class="export"
                id="btnExport"><i class="fas fa-file-pdf pad-right-5 red-text font-16"></i></a></span> &nbsp;&nbsp;</h5>
    <p class="card-text">Brief Tenants and their License Capacity details </p>
    <table class="table-sortable" id="tblCustomers">
        <thead>
            <tr>
                <th>Name <i class="fas fa-sort-up" id="yes"></i></th>
                <th>Users <i class="fas fa-sort-down" id="yes"></i></th>
                <th>Inventory <i class="fas fa-sort-up" id="yes"></i></th>
                <th>Sales <i class="fas fa-sort-down" id="yes"></i></th>
                <th>Status <i class="fas fa-sort-down" id="yes"></i></th>
            </tr>
        </thead>
        <tbody (click)="openTenant()">
            <tr>
                <td>Royal Melbourne Institute of Technology</td>
                <td>2/10</td>
                <td>3476</td>
                <td>956</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Mann Media, Inc. / OurState</td>
                <td>1/5</td>
                <td>1871</td>
                <td>897</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Marshall & Swift aka CoreLogic</td>
                <td>15/20</td>
                <td>8971</td>
                <td>7152</td>
                <td>In-Active</td>
            </tr>
            <tr>
                <td>MIT Press Journals</td>
                <td>10/10</td>
                <td>34561</td>
                <td>9871</td>
                <td>In-Active</td>
            </tr>
            <tr>
                <td>NADA Guides</td>
                <td>4/5</td>
                <td>766</td>
                <td>1298</td>
                <td>Saved</td>
            </tr>
            <tr>
                <td>NewsCorp Australia</td>
                <td>3/10</td>
                <td>9245</td>
                <td>8768</td>
                <td>Saved</td>
            </tr>
            <tr>
                <td>Northwestern Publishing</td>
                <td>8/10</td>
                <td>11352</td>
                <td>1642</td>
                <td>Saved</td>
            </tr>

        </tbody>
    </table>
</div>