<!-- <app-licence-details></app-licence-details> -->

<div id="content">
    <div class="card-body">
        <h4 class="card-title">Attribution Software List</h4>
        <p class="card-text dark-text">3rd Party Open Source Software Used by THINK</p>
        <table class="table-sortable" id="tblCustomers">
            <thead>
                <tr>
                    <th>Name </th>
                    <th>Description </th>
                    <th>URL </th>
                    <th>Licenses </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Apache Web Services </td>
                    <td>Set Of Web Service Related Projects </td>
                    <td>
                        <a href="https://Ws.Apache.Org" class="blue-link" target="_blank">https://ws.apache.org/</a>
                    </td>
                    <td>licenses/apache-license.txt</td>
                </tr>
                <tr>
                    <td>Apache Xerces Libray </td>
                    <td>XML Parsing Libraries </td>
                    <td>
                        <a href="http://xerces.Apache.Org/" class="blue-link"
                            target="_blank">http://xerces.apache.org/</a>
                    </td>
                    <td>licenses/apache-license.txt</td>
                </tr>
                <tr>
                    <td>Bison++ </td>
                    <td>Compiler Compiler For Producing C++ Code </td>
                    <td>
                        <a href="http://bisonpp/wiki/wikisourcecode" class="blue-link"
                            target="_blank">bisonpp/wiki/wikisourcecode</a>
                    </td>
                    <td>licenses/gpl2.txt</td>
                </tr>
                <tr>
                    <td>C3JS</td>
                    <td>D3JS Based Charting Library </td>
                    <td>
                        <a href="Http://C3js.Org/" class="blue-link" target="_blank">http://c3js.org/</a>
                    </td>
                    <td>licenses/mit.txt</td>
                </tr>
                <tr>
                    <td>D3JS</td>
                    <td>Data-Driven Documents</td>
                    <td>
                        <a href="http://d2js.org/" class="blue-link" target="_blank">http://d2js.org/</a>
                    </td>
                    <td>licenses/d3js-license.txt</td>
                </tr>
                <tr>
                    <td>Datatables</td>
                    <td>Flexible Tool For Instant Search And Multi-Column Ordering</td>
                    <td>
                        <a href="Http://datatables.net" class="blue-link" target="_blank">http://datatables.net</a>
                    </td>
                    <td>Public Domain</td>
                </tr>
                <tr>
                    <td>Font-Awesome</td>
                    <td>Scalable Vector Icons That Can Instantly Be Customized</td>
                    <td>
                        <a href="http://fontawesome.Io/" class="blue-link" target="_blank">http://fontawesome.io/</a>
                    </td>
                    <td>licenses/ofl.txt</td>
                </tr>
                <tr>
                    <td>Jquery</td>
                    <td>Javascript Library</td>
                    <td>
                        <a href="Http://jquery.org/" class="blue-link" target="_blank">http://jquery.org/</a>
                    </td>
                    <td>licenses/jquery-license.txt</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>