<div id="content">
    <div class="card-body">
        <h4 class="card-title">Profile</h4>
        <hr class="mar-5" />
        <h5 class="card-title mar-top-20">Administrator</h5>
        <p class="card-text dark-text">System Administrators group</p>
        <h5 class="card-title">Account Details</h5>
        <hr />
        <form class="needs-validation" novalidate name="contact-form">

            <div class="row mb-3">
                <div class="col-sm-2">
                    <label>Email : </label>
                </div>
                <div class="col">
                    <label for="emailId">admin@highwire.org</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <label for="password">Password : </label>
                </div>

                <ng-container *ngIf="!changePasswd; else currentPassword">
                    <div class="col-sm-2">
                        <label for="xxxxx">xxxxx</label>
                    </div>
                    <div class="col-sm-8 mt-3">
                        <a class="blue-link" (click)="onChangePassword()">Change Password</a>
                    </div>
                </ng-container>

                <ng-template #currentPassword>
                    <ng-container *ngIf="!proceed; else newPassword">
                        <div class="col-sm-2 mt-1">
                            <input type="password" class="form-control" id="currentPasswd"
                                placeholder="Current Password" name="currentPasswd"
                                [(ngModel)]="changePasswordModel.currentPassword">
                        </div>
                        <div class="col-sm-8 mt-1">
                            <button type="button" class="btn btn-primary height-36" id="proceed"
                                (click)="onProceed()">Proceed</button>
                            <button type="button" class="btn btn-secondary height-36 mar-left-10" id="cancel"
                                (click)="onCancel()">Cancel</button>
                        </div>
                    </ng-container>
                </ng-template>

                <ng-template #newPassword>
                    <div class="col-sm-2 mt-1">
                        <input type="password" class="form-control" id="newPasswd" placeholder="New Password"
                            name="newPasswd" [(ngModel)]="changePasswordModel.newPassword">
                    </div>
                    <div class="col-sm-2 mt-1">
                        <input type="password" class="form-control" id="confpass" placeholder="Confirm Password"
                            name="confirmPasswd" [(ngModel)]="changePasswordModel.confirmPassword">
                    </div>
                    <div class="col-sm-6 mt-1">
                        <button type="button" class="btn btn-primary height-36" id="update"
                            (click)="onUpdate()">Update</button>
                        <button type="button" class="btn btn-secondary height-36 mar-left-10" id="cancel"
                            (click)="onCancel()">Cancel</button>
                    </div>
                </ng-template>

            </div>

        </form>
    </div>