<!-- <footer class="footer">
    <div class="row pt-2 pb-2">
        <div class="col-md-2">
            <img src="../../../../assets/img/think-logo.svg" class="width-25" alt="logo">
            <span class="small-text pad-bot-10"> Software version {{appVersion}}</span>
        </div>
        <div class="col-md-4 text-center">
            <span class="small-text">Copyright © 2022 MPS Limited. All rights reserved.</span>
        </div>
        <div class="col-md-4 text-center"><span class="small-text">
                <a href="#" class="footer-link">Privacy</a> |
                <a href="#" class="footer-link">Terms of Use</a> |
                <a href="#" class="footer-link">Cookie preferences</a>
            </span>
        </div>
        <div class="col-md-2">
            <img src="../../../../assets/img/higwirelogo.PNG" alt="logo"
                class="mar-right-20 mar-left-10 width-25 float-end">
        </div>
    </div>
</footer> -->

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed bottom</a>
    </div>
  </nav>
