<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="fw-bold text-uppercase">My Saved Addresses
                <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="showModal('Add')"><i class="fa fa-plus-circle"></i> Add
                    New</button>
            </div>
            <br />
            <div class="row shadow mb-2  no-gutters" *ngFor="let item of savedAddress">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card-body">
                        <div class="card-text">
                            <a class="font-weight-bold d-block">{{item.name}}</a>
                            <span class="d-block">{{item.color}}</span>
                            <span class="font-weight-bold d-block">Rs. {{item.price}}</span>
                        </div>
                        <button class="btn btn-primary mb-1" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="showModal('Edit')"><i class="fa fa-cart-plus p-1"></i>Edit</button> &nbsp;
                        <a class="btn btn-success mb-1"><i class="fa fa-trash p-1"></i>Remove Item</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary d-block mt-2 mb-2" (click)="onProceedToCheckout()"><i class="fa fa-cart-plus p-1"></i>Proceed to
            checkout</button> &nbsp;
    </div>
</div>

<app-add-edit-address [type]="type"></app-add-edit-address>