.error-message {
    color: #dc3545;
    position: relative;
}

input.ng-invalid.ng-touched {
    border: 1px solid #dc3545;
    transition: color 0.25s;
}

.invalid-feedback.ng-star-inserted {
    font-size: 12px;
    margin-bottom: 10px;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid #dc3545;
    transition: color 0.25s;
}

ng-select.ng-invalid.ng-touched {
    border: 1px solid #dc3545;
    transition: color 0.25s;
    border-radius: 4px;
}
