<div class="row">
    <div class="col-sm-3" *ngFor="let item of products">
        <div class="shadow-lg p-1 mb-4 bg-body rounded">
            <img [src]="item.image" class="card-img-top w-100" height="150" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Name : {{item.name}} <br />
                    Color : {{item.color}} <br />
                    Rating : {{item.rating}} <br />
                    Price : {{item.price}} <br />
                </p>
                <a class="btn btn-primary d-block mb-1"><i class="fa fa-cart-plus p-1"></i>Add to cart</a>
                <a class="btn btn-success d-block"><i class="fa fa-shopping-cart p-1"></i>Go to cart</a>
            </div>
        </div>
    </div>
</div>